#pdfjs_viewer-minimal div.toolbar,
#pdfjs_viewer-minimal .toolbar,
#outerContainer.minimal .toolbar {
    display: none !important;
}

#pdfjs_viewer-minimal #scaleSelectContainer,
#pdfjs_viewer-minimal #secondaryToolbarToggle,
#pdfjs_viewer-minimal #toolbarViewerLeft,
#pdfjs_viewer-minimal #toolbarViewerRight,
#pdfjs_viewer-minimal #viewFind,
#pdfjs_viewer-minimal #viewAttachments,
#pdfjs_viewer-minimal .openFile,
#pdfjs_viewer-minimal .download,
#pdfjs_viewer-minimal .bookmark,
#pdfjs_viewer-minimal .secondaryToolbar {
    display: none !important;
}